<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="mchiazza">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <subsection>

        @RenderSection("title", required: false)
        @RenderSection("meta", required: false)

    </subsection>
    <link rel="shortcut icon" href="/img/favicon-update.ico">
    <link rel="icon" type="image/x-icon" href="/img/favicon-update.ico">

    <link href="/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet" />
    <link href="/css/cmxsite.css" rel="stylesheet" />


    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    }
    else
    {
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    }
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    @RenderSection("styles", required: false)

    <link href="~/js/jqueryUi/jquery-ui.css" rel="stylesheet" />


</head>
<body>


    <div id="cmserrpn">
        <div class="pnclose">
            <a href="#" onclick="closeErr('#cmserrpn');"><i class="fa fa-times-circle fa1x"></i></a>
        </div>
        <div id="errDet" class="err">

        </div>
    </div>

    <div id="wrapper2">
        <div id="myheader">
            <nav class="navbar navbar-default navbar-static-top pattern2" role="navigation">
                <div class="navbar-header">
                    <div class="mnuBtnLft">
                        <button id='trigger' class="mnuBtn" onclick="return false;">
                            <i class="fa fa-bars fa-lg"></i>
                        </button>
                    </div>

                    <div class="ml-50 float-left">
                        <a class="navbar-brand" href="/">
                            

                            <div class="cmstitle">
                                <img class="deepblulogo" src="~/img/logowt-sm.png" />
                                webcore cmx
                            </div>
                            </a>
                    </div>

                </div>

                <div>
                    <div class="infopn">
                        <div id="lastupd">

                            @RenderSection("LastUpdate", required: false)

                        </div>
                    </div>


                </div>
            </nav>
        </div>


        <div class="bannertron banner-frm-pb" id="myndc">
            <div id="techhdr" class="container">
                <div>

                    <div>
                        <div id="title" class="animated fadeInUp logobag inline-blk">
                            @ViewBag.Title
                        </div>
                        @if (ViewBag.docpath != null && ViewBag.docpath != "")
                        {
                            <div id="breadcrumb" class="smlx">
                                <a href="@ViewBag.docpath" onclick="copyLink('@ViewBag.docpath')" title="Open & Copy Link to Clipboard">
                                    <i class="fa fa-copy"></i>
                                </a>
                            </div>
                        }

                    </div>
                    <span id="subtitle" class="animated fadeInUp">
                        @ViewBag.subTitle
                    </span>
                   <!--revisions-->
                    <div>
                        <div id="lastupd">

                            @if (ViewBag.revision != null && ViewBag.revision != "")
                            {


                                <div class="btn-group">
                                    <span id="revtitle" class="lab"> Version : @ViewBag.revision</span>
                                    @*<button class="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                         <span class="caret"></span>
                     </button>
                    <div>
                     <ul class="dropdown-menu">
                         <li>Version 1</li>
                         <li>Version 2</li>
                     </ul>
                    </div>
                                    *@
                                </div>

                            }
                            else
                            {
                                <span id="revtitle"></span>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div id="container" class="minHeight">

            <div id="sdmenu" class="leftpn">

                <div class="navbar-left sidebar" role="navigation">
                    <div id="mobhdr" class="mobhdr">
                        <div class="mnuBtnLft2">
                            <button id='trigger2' class="mnuBtnWt" onclick="sideMenu('hide');">
                                <i class="fa fa-bars fa-lg"></i>
                            </button>
                        </div>

                        
                        <img class="mnulogo" src="/img/logoblk-sm.png" />
                        <span class="mobtitle"> webcore cmx</span>
                        
                        </div>

                    <div id="sideNav" class="sidebar-nav">

                        @RenderSection("navigation", required: false)

                    </div>
                </div>

            </div>

            <div id="lnav" class="container-fluid lnav-content minHeight">
                <div class="row">



                    <div class="content-pad">

                        <div id="rsView">

                            @RenderBody()
                        </div>
                    </div>

                    <div id="pnView" class="overlay content-pad" style="display:none">

                    </div>

                </div>


            </div>

        </div>

    </div>


    <input id="uqId" name="uqId" type="hidden" value="@ViewBag.uniqueId" />



    <div id="loadr" class="nldrpn hide">

        <div class="nldrspan">
            <img src="~/img/logoBlk.png" class="nldricon" />
            @*<i class="fab fa-react nldricon "></i>*@

            <br />

            <span style="font-size:16px;">Working on it ...</span>
            <br />

            <br />
            <div class="nldx">
                <div class="nldr"></div>

            </div>

            <br />

        </div>
    </div>



    <div id="scrollTop" class="scTop" onclick="ScrollTop();">
         <i class="fas fa-chevron-circle-up fa-3x"></i>
    </div>


    <footer class="sticky-footer2">
        <div id="myfooter">

        </div>
    </footer>

    <div class="cmsfooter text-center">
        <div>
            <div>
                <p>

                    powered by <img src="https://start.webcore.ws/img/logowt.png" style="height:30px" /> webcore cmx

                </p>
            </div>
        </div>

    </div>



    @*@Html.Partial("_loader")*@




    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/js/prism/prism.css" rel="stylesheet" />



    @Scripts.Render("/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("/js/notify.min.js")
    @Scripts.Render("~/js/prism/prism.js")

    @if (HttpContext.Current.IsDebuggingEnabled)
    {

        @Scripts.Render("/js/ajxmod.js?v=2")

        @Scripts.Render("/js/hammer.js")
        @Scripts.Render("/js/jquery.slidereveal.js")
        @Scripts.Render("/js/modal/jquery-confirm.js")
        <link rel="stylesheet" href="/js/modal/jquery-confirm.css">

    }
    else
    {

        @Scripts.Render("/js/ajxmod.min.js?v=2")

        @Scripts.Render("/js/hammer.min.js")
        @Scripts.Render("/js/jquery.slidereveal.min.js")
        @Scripts.Render("/js/modal/jquery-confirm.min.js")
        <link rel="stylesheet" href="/js/modal/jquery-confirm.min.css">
    }



    <scriptsection>
        @RenderSection("scripts", required: false)
    </scriptsection>
    <script>
        $(function () {

            loadvwpart('/viewpart/web/footer', '#myfooter');
            //$("#myfooter").load("/hub/footer");


            //if (matchMedia('only screen and (max-width: 922px)').matches) {
            //    $.getScript("/js/hammer.min.js");
            //}


        });
    </script>

</body>
</html>














