
@model G4CMSLib.Model.CMSPageView

@{
    ViewBag.title = Model.PageContent.title;
    ViewBag.subtitle = Model.PageContent.subtitle;
    ViewBag.navgroup = Model.NavigationGroup;
    ViewBag.navtitle = Model.NavigationGroupTitle;
    ViewBag.uniqueId = Model.PageContent.unique_id;
    ViewBag.revision = Model.PageContent.revision;



}


@section title{
    <title>
        @Html.Raw(Model.PageContent.title) -
        @Html.Raw(Model.PageContent.subtitle)
    </title>

}


@section meta{
    @Html.Raw(Model.PageContent.metaTags)
}



@Html.Raw(Model.PageContent.htmcontent)

<input id="country" name="country" type="hidden" value="@Model.PageContent.country" />
<input id="pgiid" name="pgiid" type="hidden" value="@Model.PageContent.unique_id.ToString()" />
<input id="piid" name="piid" type="hidden" value="@Model.PageContent.id.ToString()" />

@section navigation{

    @if (Model.NavigationGroup != "none")
    {
        @Html.Partial(Model.viewPath + "_navleftmenu.cshtml", Model)
    }



}

@section styles{
    @Html.Raw(Model.LayoutCssInclude)

<stylessection>
    @Html.Raw(Model.PageCssInclude);

</stylessection>
}

@section scripts{
    @Html.Raw(Model.LayoutJssInclude)
    @Html.Raw(Model.PageContent.pageScripts)

}



@section LastUpdate {
    <div id="updpn">

        @if (Model.PageContent.Username != null)
        {
            string dt = Model.PageContent.LastUpdateDate.ToString("dd MMM yyyy HH:mm");

            <div id="usrnm" class="smx userup" title="@Model.PageContent.Username"> @Model.PageContent.LastUpdatedBy</div>
            <span id="updt" class="smx ml-n5">Last Updated: @dt  </span>

        }
    </div>
}



